.header {
	background: url("/img/header/1.png") no-repeat;
	background-size: cover;
	padding: 32px 0px 0px 0px;
	// max-height: 1080px;
	// height: 95%;

	&-nav {
	}

	.navigation {
		display: flex;
		justify-content: space-between;

		&-logo {
			margin: 0px 48px 0px 0px;
		}

		&-menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-link {
			margin: 0px 32px 0px 0px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.04em;
			color: #ffffff;
			text-decoration: none;

			&:last-child {
				margin: 0px 0px 0px 0px;
			}
		}

		&-button {
			border: 1px solid #ffffff;
			box-sizing: border-box;
			border-radius: 20px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 0.04em;
			color: #ffffff;
			background-color: transparent;
			padding: 8px 38px;
		}
	}

	.header-content {
		margin: 370px 0px 0px 0px;

		&__title {
			display: inline-block;
			font-family: "Russo One";
			font-style: normal;
			font-weight: normal;
			font-size: 80px;
			line-height: 110.2%;
			letter-spacing: 0.01em;
			color: #ffffff;
		}

		&__subtitle {
			margin: 44px 0px 0px 0px;
			padding: 0px 0px 403px 0px;
			width: 308px;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 122.4%;
			letter-spacing: 0.04em;
			color: #ffffff;
		}
	}

	.content-title__arctic::after {
		margin: 0px 0px 0px 40px;
		display: inline-block;
		vertical-align: middle;
		content: "";
		width: 140px;
		height: 11px;
		background-color: #fff;
	}
}
